
h1 {
    text-align: center;
    background-color: maroon;
    line-height: 200%;
 }
  
 body {
    font-family: 'Times New Roman', Times, serif; 
    color: black;
    background-color: sienna;   
 }
 